<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title th:text="${appName}" ></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="index.css">

    <script src="nav.js"></script>
</head>

<body class="w3-content" style="max-width:1200px">

<div th:replace="~{nav.html}"></div>


<!-----------!PAGE CONTENT!--------------- -->
<div class="w3-main" style="margin-left:250px">

    <div th:replace="~{header.html}"></div>


    <!-- Image header -->
    <div class="w3-display-container w3-container">
        <img src="https://picsum.photos/200" alt="Jeans" style="width:100%">
        <div class="w3-display-topleft w3-text-" style="padding:24px 48px">
            <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
            <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
            <h1 class="w3-hide-small">COLLECTION 2023</h1>
            <p><a href="#shopnow" class="w3-button w3-black w3-padding-large w3-large">SHOP NOW</a></p>
        </div>
    </div>


    <div class="w3-container w3-text-grey" id="shopnow">
        <p>Product Categories</p>
    </div>

    <!-- Product grid -->

    <div class="w3-row" >
        <div class="w3-col l3 s6" th:each="product : ${latestProduct}">
            <div class="w3-container" >
                <img th:src="@{${product_service_url}+'/images/' + ${product.get('primary_image').asText()}}"
                     style="width:100%"  th:onclick="@{'window.location.href = \'/product?id=\' + \'' + ${product.get('id').asText()} + '\';'}">

                <p th:if="${product.get('subcategory').asText() ne 'null' }" th:utext="${product.get('subcategory').asText() +' '+ product.get('category').asText()
                +'<br/>'+product.get('description').asText() + '<br/> <b>₹' + product.get('price').asText()} +'</b>'"></p>

                <p th:unless="${product.get('subcategory').asText() ne 'null' }" th:utext="${product.get('category').asText()
                +'<br/>'+product.get('description').asText() + '<br/> <b>₹' + product.get('price').asText()} +'</b>'"></p>
            </div>
        </div>

        <div class="w3-col l3 s6">
            <div class="w3-container">
                <img src="https://picsum.photos/200" style="width:100%">
                <p>Sample 1<br><b>₹700</b></p>
            </div>
        </div>

        <div class="w3-col l3 s6">
            <div class="w3-container">
                <div class="w3-display-container">
                    <img src="https://picsum.photos/200" style="width:100%">
                    <span class="w3-tag w3-display-topleft">New</span>
                    <div class="w3-display-middle w3-display-hover">
                        <button class="w3-button w3-black">Buy now <i class="fa fa-shopping-cart"></i></button>
                    </div>
                </div>
                <p>Sample 2<br><b>₹500</b></p>
            </div>
        </div>

    </div>  <!--w3-row end-->






    <div th:replace="~{footer.html}"></div>


</div>

</body>
</html>

